[submodule "DESCENDERE-GCS"]
	path = Ground Station Software
	url = git@github.com:OmsinKrissada/DESCENDERE-GCS.git
[submodule "Container Software"]
	path = Container Software
	url = git@github.com:SPACE-AC/DESCENDERE-Container2.git
[submodule "Payload Software"]
	path = Payload Software
	url = git@github.com:SPACE-AC/DESCENDERE-Payload.git
[submodule "Ground Station Extension Board Software"]
	path = Ground Station Extension Board Software
	url = git@github.com:SPACE-AC/AC137-Ground-Station-Board.git
